.container {
  border: 2px solid grey;
  display: flex;
  width: 70%;
  height: 300px;
  margin: 0 auto;
  /* flex-direction: column-reverse; */
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
}

.container div {
  background-color: rgb(40, 169, 201);
  width: 100px;
  /* height: 100px; */
  margin: 2px;
}

.container div.box1 {
  order: 3;
  flex-grow: 1;
  align-self: flex-end;
}

.container div.box2 {
  order: 2;
  flex-grow: 5;
  align-self: center;
}

.container div.box3 {
  order: 1;
  flex-grow: 5;
  align-self: stretch;
}
